<%- include('../partials/header') %>
<div class="main-margin">
<h2>Inventory</h2>
<nav class="sub-nav">
    <ul class="no-bullets">
    <li><a href="/inventory/new">Add Product</a></li>
    </ul>
</nav>

<div class="line"></div>
<form action="/inventory" method="GET">
    <div class="search-bar">
        <input type="text" name="search" placeholder="Search for an item"></input>
        <button type="submit" class="btn-green">Search</button>
    </div>
</form>

<% if (userInventory.length) { %>
<table class="inventory-index-table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>SKU</th>
            <th>Quantity Available (kg/L)</th>
        </tr>
    </thead>
    <tbody>
        <% userInventory.forEach((product) => { %>
        <tr>
            <td><a href="/inventory/<%= product.id %>"><%= product.productName %></a></td>
            <td><%= product.sku %></td>
            <td><%= product.quantityAvailable %></td>
        </tr>
        <% }) %>
    </tbody>
</table>

<% } else { %>
    <h4>No Items Listed</h4>
    <% } %>
</div>

<div class="pagination">
    <% if (pagination.page > 1) { %>
        <a
            href="/inventory?page=<%= pagination.page - 1 %><% pagination.search ? `&search=${pagination.search}` : '' %>">Previous</a>
        <% } %>
            <span>Page <%= pagination.page %></span>
            <% if (userInventory.length === pagination.limit) { %>
                <a
                    href="/inventory?page=<%= pagination.page + 1 %><% pagination.search ? `&search=${pagination.search}` : '' %>">Next</a>
                <% } %>
</div>

<%- include('../partials/footer') %>