<%- include('../partials/header') %>

<h2>Inventory</h2>
<nav class="sub-nav">
    <ul class="no-bullets">
    <li><a href="/inventory/new">Add Item</a></li>
    </ul>
</nav>

<div class="line"></div>
<div class="search-bar">
    <input type="search" placeholder="Search for an item"></input><button class="btn-green">Search</button>
</div>

<% if (userInventory.length) { %>
<table class="inventory-index-table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>SKU</th>
            <th>Quantity Available (kg/L)</th>
        </tr>
    </thead>
    <tbody>
        <% userInventory.forEach((product) => { %>
        <tr>
            <td><a href="/inventory/<%= product.id %>"><%= product.productName %></a></td>
            <td><%= product.sku %></td>
            <td><%= product.quantityAvailable %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
<% } else { %>
    <h4>No Items Listed</h4>
    <% } %>
</div>

<%- include('../partials/footer') %>