<%- include('../partials/header') %>
    <div class="main-margin">
        <h2>Production History</h2>

    <form action="/productions/new" method="GET">
        <div class="log-production">
        <label class="log-production-label">Log production:</label><br>
        <select name="recipe[]" class="select-recipe">
                <option value="" disabled selected hidden>Select Recipe</option>
            <% userRecipes.forEach((recipe)=> { %>
                <option value="<%= recipe.name %>" name="name[]" class="recipe-options">
                    <%= recipe.name %>
                </option>
                <% }) %>
        </select>
        <button type="submit" class="btn-green">Log</button>
        </div>
    </form>

        <div class="line"></div>

        <% if (userProductions.length) { %>
            <table class="production-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Product Name</th>
                        <th>Production Batch No.<th>
                        <th>Quantity Made</th>
                        <th>Ingredients</th>
                        <th>Batch No.</th>
                        <th>Qty Used</th>
                    </tr>
                </thead>
                <tbody>
                    <% userProductions.forEach((production)=> { %>
                        <tr>
                            <td>
                                <%= production.date %>
                            </td>
                            <td>
                                <%= production.name %>
                            </td>
                            <td>
                                <%= production.batch %>
                            </td>
                            <td>
                                <%= production.quantityMade %>
                            </td>
                            <td><%= production.sku %></td>
                            <% production.stockUsed.forEach((ingredient) => { %>
                                <td>
                                    <%= ingredient.ingredientName.productName %>
                                </td>
                                <td>
                                    <%= ingredient.batch %>
                                </td>
                                    <%= ingredient.quantityUsed %>
                                </td>
                            <% }) %>
                        </tr>
                        <% }) %>
                </tbody>
            </table>

            <% } else { %>
                <h4>No Items Listed</h4>
                <% } %>
    </div>

    <div class="pagination">
        <% if (pagination.page > 1) { %>
            <a
                href="/productions?page=<%= pagination.page - 1 %>">Previous</a>
            <% } %>
                <span>Page <%= pagination.page %></span>
                <% if (userProductions.length === pagination.limit) { %>
                    <a
                        href="/productions?page=<%= pagination.page + 1 %>">Next</a>
                    <% } %>
    </div>

    <%- include('../partials/footer') %>