<%- include('../partials/header') %>
    <div class="main-margin">
        <h2>Production History</h2>

    <form action="/productions/new" method="GET">
        <div class="log-production">
        <label class="log-production-label">Log Production:</label>
        <select name="recipe[]" class="select-recipe">
                <option value="" disabled selected hidden>Select Recipe</option>
            <% userRecipes.forEach((recipe)=> { %>
                <option value="<%= recipe.name %>" name="name[]" class="recipe-options">
                    <%= recipe.name %>
                </option>
                <% }) %>
        </select>
        <button type="submit" class="btn-green">Add</button>
        </div>
    </form>

        <div class="line"></div>

        <% if (userProductions.length) { %>
            <% userProductions.forEach((production)=> { %>
            <section class="production-log">
                <div class="production-info">
                    <table class="production-table">
                        <tr>
                            <td><strong>Name:</strong></td>
                            <td>
                                <strong><%= production.name %></strong>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Date:</strong></td>
                            <td>
                                <%= production.date %>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Batch Number:</strong></td>
                            <td>
                                <%= production.batch %>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Quantity Made:</strong></td>
                            <td>
                                <%= production.quantityMade %>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="ingredient-info">
                <table class="production-table">
                    <thead>
                        <tr>
                            <th>Ingredient:</th>
                            <th>Batch Number:</th>
                            <th>Qty Used (kg/L):</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% production.stockUsed.forEach((ingredient)=> { %>
                            <tr>
                                <td>
                                    <%= ingredient.ingredientName.productName %>
                                </td>
                                <td>
                                    <%= ingredient.ingredientBatch %>
                                </td>
                                <td>
                                    <%= ingredient.quantityUsed %>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    </div>
                </section>
            <% }) %>

            <% } else { %>
                <h4>No Production History to Show</h4>
                <% } %>
    </div>

    <div class="pagination">
        <% if (pagination.page > 1) { %>
            <a
                href="/productions?page=<%= pagination.page - 1 %>">Previous</a>
            <% } %>
                <span>Page <%= pagination.page %></span>
                <% if (userProductions.length === pagination.limit) { %>
                    <a
                        href="/productions?page=<%= pagination.page + 1 %>">Next</a>
                    <% } %>
    </div>

    <%- include('../partials/footer') %>