<%- include('../partials/header') %>
<head><script defer src="/JS/main.js"></script></head>
<div class="main-margin">
    <h2>Log Production - <%= recipe[0].name %></h2>

<form action="/productions" method="POST">
    <div class="date-container">
        <label for="date">Date:</label>
        <input type="date" name="date" required>
    </div>

    <div class="batch-container">
        <label for="batch">Production Batch No.:</label>
        <input type="text" name="batch" value="<%= date %>" required>
    </div>
    <div class="batch-container">
        <label for="quantityMade">Quantity Made:</label>
        <input type="number" name="quantityMade" required>
    </div>

    <div class="incl-add-button">
        <div class="ingredients-container">
            <label for="ingredients" class="ingts-label">Ingredients:</label>
            <% recipe[0].ingredients.forEach((ingredient)=> { %>
                <div class="ingt-info">
                    <div class="white-space"></div>
                    <select name="ingredients[]" class="select-ingt">
                        <% userInventory.forEach((product)=> { %>
                            <option value="<%= product.productName %>" name="product[]" class="ingt-options"
                                <%=ingredient.product.productName===product.productName ? 'selected' : '' %> >
                                <%= product.productName %>
                            </option>
                            <% }) %>
                    </select>
                    <input type="text" name="batch[]" class="batch" placeholder="Batch Number">
                    <input type="number" step="0.0001" name="quantityUsed[]" value="<%= ingredient.quantityRequired %>" class="qty-used">
                    <button type="button" class="remove-ingt-btn">-</button>
                </div>
                <% }) %>
            <button type="button" class="add-ingt-btn">+</button>
        </div>
    </form>
</div>

<%- include('../partials/footer') %>