<%- include('../partials/header') %>

<head><script defer src="/JS/production.js"></script></head>

<div class="main-margin">
    <h2>Log Production - <%= recipe[0].name %></h2>
    <nav class="sub-nav">
        <ul class="no-bullets">
            <li><a href="/productions">Back to Production History</a></li>
        </ul>
    </nav>
    <div class="line"></div>

<form action="/productions" method="POST">
    <div class="recipe-container">
        <label for="name" class="new-production-label">Recipe Name:</label>
        <input type="text" name="name" value="<%= recipe[0].name %>" required>
    </div>

    <div class="date-container">
        <label for="date" class="new-production-label">Date:</label>
        <input type="date" name="date" required>
    </div>

    <div class="batch-container">
        <label for="batch" class="new-production-label">Batch Number:</label>
        <input type="text" name="ingredientBatch" value="<%= date %>" required>
    </div>
    <div class="qty-made-container">
        <label for="quantityMade" class="new-production-label">Quantity Made:</label>
        <input type="number" name="quantityMade" required>
    </div>

        <div class="ingredients-container">
            <label for="ingredients" class="ingts-label">Ingredients:</label>
            <% recipe[0].ingredients.forEach((ingredient)=> { %>
                <div class="ingt-info">
                    <div class="white-space"></div>
                    <select name="ingredients[]" class="select-ingt">
                        <% userInventory.forEach((product)=> { %>
                            <option value="<%= product.productName %>" name="product[]" class="ingt-options"
                                <%=ingredient.product.productName===product.productName ? 'selected' : '' %> >
                                <%= product.productName %>
                            </option>
                            <% }) %>
                    </select>
                    <input type="text" name="ingredientBatch[]" class="ingt-batch" placeholder="Batch Number" required>
                    <input type="number" step="0.0001" name="quantityUsed[]" value="<%= ingredient.quantityRequired %>" class="add-qty" required>
                    <button type="button" class="remove-ingt-btn">-</button>
                </div>
                <% }) %>
            </div>
        <button type="button" class="add-ingt-for-prod-btn">+</button>
        <button type="submit" class="btn-green">Log Production</button>
    </form>


<%- include('../partials/footer') %>