<%- include('../partials/header') %>
<div class="main-margin">
    <h2>Recipes</h2>
    <nav class="sub-nav">
        <ul class="no-bullets">
            <li><a href="/recipes/new">Add Recipe</a></li>
        </ul>
    </nav>
    <div class="line"></div>
    <div class="search-bar">
        <input type="search" placeholder="Search for a recipe"></input><button class="btn-green">Search</button>
    </div>
    <% if (userRecipes.length) { %>
        <table class="recipes-index-table">
            <thead>
                <tr>
                    <th>Recipe Name</th>
                    <th>Serves</th>
                </tr>
            </thead>
            <tbody>
                <% userRecipes.forEach((recipe)=> { %>
                    <tr>
                        <td><a href="/recipes/<%= recipe.id %>">
                                <%= recipe.name %>
                            </a></td>
                        <td>
                            <%= recipe.serves %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <h4>No Recipes Created... Yet!</h4>
            <% } %>
                </div>

<%- include('../partials/footer') %>