<%- include('../partials/header') %>
<div class="main-margin">
<h2>Recipes</h2>
<nav class="sub-nav">
    <ul class="no-bullets">
        <li><a href="/recipes/new">Add Recipe</a></li>
    </ul>
</nav>
<div class="line"></div>
<form action="/recipes" method="GET">
    <div class="search-bar">
        <input type="text" name="search"  placeholder="Search for a recipe"></input>
        <button type="submit" class="btn-green">Search</button>
    </div>
</form>

<% if (userRecipes.length) { %>
    <table class="recipes-index-table">
        <thead>
            <tr>
                <th>Recipe Name</th>
                <th>Serves</th>
            </tr>
        </thead>
        <tbody>
            <% userRecipes.forEach((recipe)=> { %>
                <tr>
                    <td><a href="/recipes/<%= recipe.id %>">
                            <%= recipe.name %>
                        </a></td>
                    <td>
                        <%= recipe.serves %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <h4>No Recipes Created... Yet!</h4>
        <% } %>
            </div>
<div class="pagination">
    <% if (pagination.page > 1) { %>
        <a
            href="/recipes?page=<%= pagination.page - 1 %><% pagination.search ? `&search=${pagination.search}` : '' %>">Previous</a>
        <% } %>
            Page <%= pagination.page %>
                <% if (userRecipes.length===pagination.limit) { %>
                    <a
                        href="/recipes?page=<%= pagination.page + 1 %><% pagination.search ? `&search=${pagination.search}` : '' %>">Next</a>
                    <% } %>
</div>

<%- include('../partials/footer') %>